body{
 font-family: 'Roboto', sans-serif;
}

.card{
  height: 230px;
  width: 280px;
  border: 1px solid #F6F6F6;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:40px;
  width: auto;
  padding: 20px 20px 20px 25px;
}

h2{
  font-size: 20px;
}

.number{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
  height: 35px;
  width: 100%;
}

.number p{
  font-size: 35px;
}

.online-title{
  display: flex;
  flex-direction: row;
  justify-content:  flex-start;
  position: relative;
  margin-left: 25px
}

.online-title p{
  font-size: 15px
}

.list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 290px;
}

.list ul,li{
  list-style:none;
}

.list ul{
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  display: inherit;

}

.list li{
  padding: 0.5px;
}

img{
  border-radius: 50%;
  height: 29px;
  width: 29px;
  position: sticky;
  left: 300px;
}

span{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.circle{
  border: 1px solid #D7D7D7;
  border-radius: 50%;
  height: 27px;
  width: 27px;
  margin-top: 1px;
  position: sticky;
  text-align: center;
  background-color;
  color: black;
}

.button-end{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: block;
  cursor: pointer;
  height: 30px;
  width: 100%;
  position: relative;
}

button{
  height: 30px;
  width: 110px;
  border-color: transparent;
  color: #4A90E2;
  font-size: 14px;
  text-align: center;
  position: relative;
  margin-left: 83px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
