body{
    font-family: 'Roboto', sans-serif;
}

.container{
  width: 100%;
  border: 1px solid #F6F6F6;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.header{
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  margin-top: 3px
}

.header h2{
  display: flex;
  flex-direction: row;
  font-size: 19px;
  margin-left: 20px;
  color:#696969;
}

.header p{
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  color:#696969;
}

.table{
  width: 100%;
}

table{
  width: 100%;
  margin-left: 20px;
  border-spacing: 0;
  border:none !important;
  padding-right: 35px;
}

.table-content{
  width: 100%;
  text-align: left;
}

.table-content th,td{
  padding-right: 30px;
  height: 50px;
  white-space:nowrap;
  border-radius: 5px;
}

.table-content td{
  cursor: pointer;
}

img{
 height: 20px;
 width: 20px;
 border-radius: 50%;
}

.image{
  padding-right: 0;
  width: 45px;
}

image-icon{
 height: 20px;
 width: 20px;
 border-radius: 50%;
}

.circle{
  border-radius: 50%;
  height: 11px;
  width: 11px;
  text-align: center;
  background-color: #4A90E2;
  font-size: 8px;
  align-items: center;
  float: left;
  position: relative;
  left: 25px;
  top: 9px;
  color: #FFFFFF;
}

.circle-color-orange{
  background-color: #F5A623;
}

.grey-row{
  background-color: #F6F6F6;
}
